<!-- {% load static %} -->
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">HouseRentHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <!-- Show these links if the user is logged in -->
                    <li class="nav-item dropdown">
                        <img src="{% static 'img/user.png' %}" alt="Profile Image" style="width:45px;height: 45px;" class="profile-img" data-bs-toggle="dropdown" aria-expanded="false">
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profile-settings">Profile</a></li>
                            <li><a class="dropdown-item" href="/my-listings">My Property</a></li>
                            <li><a class="dropdown-item" href="{% url 'signout' %}">Sign Out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <!-- Show these links if the user is not logged in -->
                    <li class="nav-item"><a class="nav-link border-end border-2 border-dark" href="{% url 'signup' %}">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'signin' %}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>